@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.fs-1 {
    font-size: calc(1.375rem + 1.5vw) !important;
    font-style: normal;
    font-weight: 700;
    line-height: 39px;
    font-family: 'Inter', sans-serif;
}

.fs-2 {
    font-size: calc(1.325rem + 0.9vw) !important;
    font-weight: 700;
    line-height: 39px;
    font-family: 'Inter', sans-serif;
}

.fs-3 {
    font-size: calc(1.3rem + 0.6vw) !important;
    font-family: 'Inter', sans-serif;
}

.fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
    font-family: 'Inter', sans-serif;
}

.fs-5 {
    font-size: 1.25rem !important;
    font-weight: 300;
    line-height: 23px;
    font-family: 'Inter', sans-serif;
}

.fs-6 {
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.bold{
    font-weight: 600 !important;
}

.color-white-opacity50 {
    color: rgba(255, 255, 255, 0.5);
}


.color-green {
    color: #2EF2AA !important;
}

/* .button-white {
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 29px;

    display: flex;
    gap: 1em;

    border: 1px solid #C9B9B9;
    background: #d9d9d91a;
    color: #FFFFFF;
} */

/* .button-green {
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    padding: 10px 29px;

    display: flex;
    gap: 1em;

    border: 1px solid #2EF2AA;
    background: rgba(46, 242, 170, 0.05);
    color: #FFFFFF;
} */





@media (max-width: 1300px) {
    .fs-4 {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 1200px) {
    .fs-1 {
        font-size: 2.5rem !important;
    }

    .fs-2 {
        font-size: 2rem !important;
    }

    .fs-3 {
        font-size: 1.75rem !important;
    }

    .fs-4 {
        font-size: 1.5rem !important;
    }

    
}

@media(max-width:1050px) {
    
}

@media(max-width:500px) {
    

    
}