.sitemap-inicio::after {
    content: "/";
    margin: 0px 1em;
}

.title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #333333;
    margin: 1em 0em;
}

.content-documentation {
    width: 70%;
}

.content-roadmap {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-left: 4em;
    height: 100%;
}

.option-map::before {
    content: "";
    width: 1px;
    height: 100%;
    display: block;
    background: #333333;
    margin-right: 1em;
}

.option-map {
    display: flex;
    height: 3em;
    align-items: center;
    cursor: pointer;
}

.button-proximo {
    float: right;
}

@media (max-width:910px) {
    .content-roadmap {
        display: none;
    }

    .content-documentation {
        width: -webkit-fill-available;
    }
}