* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(136, 131, 131);
}

.screen {
    width: 100%;
    height: 90%;
    padding: 40px 100px 0;
    display: flex;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.screen .address {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: white;
    height: 100%;
    width: 300px;
    display: none;
}

.screen .address .address-line {
    width: 300px;
    margin: 0 0 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.screen .sys .console {
    height: 35%;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.registers {
    display: flex;
    background-color: transparent;
    font-size: 15px;
    border: none;
    outline: none;
}

.input, .address {
    font-size: 16px;
}

.input {
    min-width: 300px;
}

.options {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 300px 0;
}

button {
    padding: 15px;
    margin: 0px 15px;
}

.data-in-input {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
