@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Configurações Globais do CSS - Não afetam a responsividade  */

*{
    font-family: Inter;
}

.page{
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;

}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


.title{
    font-size: 32px;
    line-height: 38.5px;
    color: #ffff;
    margin-top: 3rem;
    font-weight: 700;
}


.description{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    line-height: 21.6px;
}


.project-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin-bottom: 38px;
}

.project-buttons button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 41px;
    max-width: 242px;
    width: 100%;
    cursor: pointer;
}

.project-buttons button span{
    margin-left: 10px;
}

.project-buttons .create {
    background: #2EF2AA;
    border: 1px solid #2EF2AA;
    border-radius: 5px;
   color: black;
}
.project-buttons .list{
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-top: 19px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.list-tutorials{
    margin: auto;
    margin-right: 0;
    margin-top: 20px;
    align-items: center;
    max-width: 232px;
    min-height: 41px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.list-tutorials span{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    margin-top: 2px;
}
/* BreakPoints de Respoonsividade  */


@media screen and (max-width:842px) {

    .main-section{
        max-width: 90%;
        margin: auto;
        margin-top: 2rem;
    }
    .green-buttons-section{
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-bottom: 8rem;
        display: flex;
    }   
    .green-buttons-section .title{
        text-align: center;
    }
    .project-buttons-section{
        flex-direction: column;
        flex-wrap: nowrap;

    }
    .project-buttons button{
        margin-right: 0px;
        margin: 20px auto;
    }

    .recent-projects{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: auto;
        justify-content: start;
        margin-top: 2rem;
        width: 100%;
        min-height: 224px;
    }
    .recent-tutorials{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .title{
        text-align: center;
    }
    .recent-tutorials{
        display: grid;
        grid-template-columns: repeat(1, 2fr);  
        grid-gap: 30px;
    }
    .tutorials-section .description{
        text-align: center;
    }
    .tutorials-section{
        display: flex;
        flex-direction: column;
    
    }
    .list-tutorials{
        margin: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}

@media screen and (min-width:843px) {
    .main-section{
        max-width: 80%;
        margin: auto;
        margin-top: 2rem;
    }

    .green-buttons-section .cards{
        display: flex;
        margin: auto;
        justify-content: start;
        margin-top: 2rem;
        margin-bottom: 1rem;
        width: 100%;
    }
    .project-buttons button{
        margin-right: 38px;
    }
    .recent-projects{
        display: flex;
        margin: auto;
        justify-content: start;
        margin-top: 2rem;
        width: 100%;
        min-height: 224px;
        margin-bottom: 2rem;
    }
    .recent-tutorials{
        padding-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 2fr);  
        grid-gap: 50px;
    
    }
}


/* Configurações Das Sessões da Página  */

