.logo-style {
  display: flex;
  margin-right: 1rem;
  width: 100%;
  max-width: 150px;
  height: auto;
}

.footer-sections {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer-sections > div {
  margin-left: 1rem;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 2rem;
}

.footer-icons > svg {
  margin-left: 0.5rem;
}
