.project-card{
    max-width: 398px;
    width: 100%;
    min-height: 224px;
    height: 100%;
    background-color: #333333;
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 20px 10px 0;
    padding: 1rem;
}
.project-title{
    color: #fff;
    font-size: 22px;
    line-height: 24.5px;
    font-weight: 700;
    margin-bottom: 10px;
}
.project-last-edit{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}
.project-description{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 19px;
    font-weight: 400px;
    margin-bottom: 30px;
}
.project-url{
    min-height: 41px;
    max-width: 170px;
    width: 100%;
    height: 100%;
    background: rgba(46, 242, 170, 0.05);
    border: 1px solid #2EF2AA;
    color: #2EF2AA;
    border-radius: 5px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}