* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    background: #1a1b1f;
  }
  
  main {
    background: #1a1b1f;
  }
  
  h2 {
    color: #fff !important;
    font-size: 32px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
  }
  
  h3 {
    color: #fff !important;
    font-size: 22px !important;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal !important;
    margin-top: 3rem !important;
  }
  
  p {
    color: #fff;
    font-size: 1.1rem;
  }
  
  /* BREADCRUMBS */
  
  .breadcrumbs {
    display: flex;
    gap: 0.5rem;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .breadcrumbs span a {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 16px;
  
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .breadcrumbs span a:hover,
  .breadcrumbs span a:hover svg path {
    color: #fff !important;
    stroke: #fff;
  }
  
  .breadcrumbs span.active a {
    color: #2ef2aa;
  }
  