{% extends "mipscode/header.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/dashboard.css' %}">
<script src="{% static 'mipscode/js/interacoes/projetos.js' %}"></script>
{% endblock statics %}

{% block article %}
<article class="padding-padrao margin-top-7">
    <section class="section-links">
        <h1 class="fs-3 font-uppercase">Veja o que você pode realizar no MipsCode.</h1>

        <div class="div-links">
            <div class="div">
                <p class="fs-7">APRENDA</p>
                <h1 class="fs-4 ligth margin-zero">Explorar a Documentação</h1>
            </div>

            <div class="div">
                <p class="fs-7">CRIE AGORA</p>
                <h1 class="fs-4 ligth margin-zero">Programe com Mips</h1>
            </div>

            <div class="div">
                <p class="fs-7">Compartilhe <span>(Discord)</span></p>
                <h1 class="fs-4 ligth margin-zero">Entre na comunidade</h1>
            </div>
        </div>
    </section>

    <header class="margin-top-7">
        <h1 class="fs-3 font-uppercase margin-zero">Meu Repositório</h1>
        <p class="fs-6 color-gray margin-zero">Guarde seus projetos e acesse onde estiver.</p>
    </header>

    <section class="margin-top-2">
        <div class="content-buttons">
            <button class="button-green-solid" onclick="openNewProjectView()"><img src="{% static 'mipscode/svgs/icons-add.svg' %}">Criar novo arquivo</button>
            <button class="button-white-solid"><img src="{% static 'mipscode/svgs/icons-arquivo.svg' %}">Ver todos os arquivos</button>
        </div>
        <p class="margin-top-2 fs-6 color-gray">Projetos recentes</p>
        <div class="content-projetos-all">

            {% for projeto in projetos %}
            <div class="project">
                <div class="titles">
                    <h2 class="title">{{projeto.title}}</h2>
                    <p class="time">{{projeto.created_at}}</p>
                    <p class="description">{{projeto.description}}</p>
                </div>
                <div class="options">
                    <button class="button-open">Abrir Projeto</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <header class="margin-top-7">
        <h1 class="fs-3">Tutoriais</h1>
        <nav class="nav-maps">
            <p class="text-opacity-mini">Aprenda de maneira fácil e prática.</p>
        </nav>

        <!-- {% for projeto in projetos %}
            <div class="project">
                <div class="titles">
                    <h2 class="title">{{projeto.title}}</h2>
                    <p class="time">{{projeto.created_at}}</p>
                    <p class="description">{{projeto.description}}</p>
                </div>
                <div class="options">
                    <button class="button-open">Abrir Projeto</button>
                </div>
            </div>
            {% endfor %} -->
    </header>

</article>



<section class="create-arquivo display-none" id="create-arquivo">
    <div class="div">
        <form action="{% url 'mipscode:dashboard' %}" method="post">
            {% csrf_token %}
            <div class="div-header">
                <h1>Crie um novo Arquivo</h1>

                <input class="button-close" onclick="closeNewProjectView()" type="reset" value="x">
            </div>

            <div class="content">
                <input type="text" class="input-form" name="title" placeholder="Titulo">
                <textarea class="input-form textarea" name="description" placeholder="Descrição"></textarea>
                <input type="submit" class="input-button" value="Criar Arquivo">
            </div>
        </form>

    </div>
</section>
{% endblock article %}