<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>MipsCode</title>
    {% load static %}
    {% block statics %}{% endblock statics %}
    <link rel="stylesheet" href="{% static 'mipscode/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'mipscode/css/geral.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'mipscode/img/logo-mips-min.png' %}">
    
</head>

<body>
    <header class="padding-padrao header-nav">
        <nav class="row navegation align-center">
            <div class="nav-logo row align-center">
                <img src="{% static 'mipscode/img/logo-mips.png' %}" alt="MipsCode Logo" class="logo">
            </div>


            <div class="nav-links">
                {% if user.is_authenticated %}
                {% if title == "dashboard" %}
                <a class="fs-navegations color-green" href="{% url 'mipscode:dashboard' %}">Dashboard</a>
                {% else %}
                <a class="fs-navegations color-gray" href="{% url 'mipscode:dashboard' %}">Dashboard</a>
                {% endif %}

                {% if title == "documentation" %}
                <a class="fs-navegations color-green" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
                {% else %}
                <a class="fs-navegations color-gray" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
                {% endif %}

                {% if title == "repository" %}
                <a class="fs-navegations color-green" href="{% url 'mipscode:repository' %}">Repositório</a>
                {% else %}
                <a class="fs-navegations color-gray" href="{% url 'mipscode:repository' %}">Repositório</a>
                {% endif %}

                {% if title == "tutorials" %}
                <a class="fs-navegations color-green" href="{% url 'mipscode:tutorials' %}">Tutoriais</a>
                {% else %}
                <a class="fs-navegations color-gray" href="{% url 'mipscode:tutorials' %}">Tutoriais</a>
                {% endif %}


                {% else %}

                {% if title == "inicio" %}
                <a class="fs-navegations color-green" href="{% url 'mipscode:index' %}">Início</a>
                {% else %}
                <a class="fs-navegations color-gray" href="{% url 'mipscode:index' %}">Início</a>
                {% endif %}

                {% if title == "ide" %}
                <a class="fs-navegations color-green" href="{% url 'mipscode:ide' %}">IDE</a>
                {% else %}
                <a class="fs-navegations color-gray" href="{% url 'mipscode:ide' %}">IDE</a>
                {% endif %} 

                {% if title == "documentation" %}
                <a class="fs-navegations color-green" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
                {% else %}
                <a class="fs-navegations color-gray" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
                {% endif %}
                {% endif %}
            </div>

            <div class="nav-buttons">
                {% if user.is_authenticated %}
                <div class="row gap-4">
                    <a class="row align-center gap-1" href="{% url 'mipscode:profile' %}">
                        <div class="avatar" style="background-image: url({{profile.avatar.url}});"></div>
                        <span class="fs-navegations color-white">{{name}}</span>
                    </a>

                    <a href="{% url 'mipscode:logout' %}" class="row align-center"><img class="cursor-pointer"
                            src="{% static 'mipscode/svgs/icon-logout.svg' %}" alt=""></a>
                </div>
                {% else %}
                <a href="{% url 'mipscode:login' %}" class="fs-navegations color-green">Entrar</a>
                <a href="{% url 'mipscode:registration' %}"><input class="fs-navegations button button-white bold"
                        type="button" value="Inscreva-se"></a>
                {% endif %}
            </div>

        </nav>

        <nav class="header-nav-mobile">
            <a href="{% url 'mipscode:dashboard' %}"><img src="{% static 'mipscode/img/logo-mips.png' %}"
                    alt="MipsCode Logo" class="logo"></a>
            <button class="menu" id="button-menu-mobile">
                <img src="{% static 'mipscode/svgs/menu-min.svg' %}" alt="Menu">
            </button>
        </nav>
    </header>

    <div class="menu-mobile padding-padrao" id="menu-mobile-div">
        <button class="menu" id="button-close-mobile">
            <img src="{% static 'mipscode/svgs/menu-min.svg' %}" alt="Menu">
        </button>
        <div class="column gap-2">
            <p class="fs-navegations color-gray bold">MENU</p>
            <div class="nav-buttons">
                {% if user.is_authenticated %}
                <div class="row gap-4">
                    <a class="row align-center gap-1" href="{% url 'mipscode:profile' %}">
                        <div class="avatar" style="background-image: url({{profile.avatar.url}});"></div>
                        <span class="fs-navegations color-white">{{name}}</span>
                    </a>
                </div>
                {% else %}
                <a href="{% url 'mipscode:login' %}" class="fs-navegations color-white">Entrar</a>
                {% endif %}
            </div>
            
            {% if user.is_authenticated %}
            {% if title == "dashboard" %}
            <a class="fs-navegations color-green" href="{% url 'mipscode:dashboard' %}">Dashboard</a>
            {% else %}
            <a class="fs-navegations color-gray" href="{% url 'mipscode:dashboard' %}">Dashboard</a>
            {% endif %}

            {% if title == "documentation" %}
            <a class="fs-navegations color-green" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
            {% else %}
            <a class="fs-navegations color-gray" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
            {% endif %}

            {% if title == "repository" %}
            <a class="fs-navegations color-green" href="{% url 'mipscode:repository' %}">Repositório</a>
            {% else %}
            <a class="fs-navegations color-gray" href="{% url 'mipscode:repository' %}">Repositório</a>
            {% endif %}

            {% if title == "tutorials" %}
            <a class="fs-navegations color-green" href="{% url 'mipscode:tutorials' %}">Tutoriais</a>
            {% else %}
            <a class="fs-navegations color-gray" href="{% url 'mipscode:tutorials' %}">Tutoriais</a>
            {% endif %}

            <a href="{% url 'mipscode:logout' %}" class="row align-center color-gray fs-navegations">Logout</a>
            {% else %}

            {% if title == "inicio" %}
            <a class="fs-navegations color-green" href="{% url 'mipscode:index' %}">Início</a>
            {% else %}
            <a class="fs-navegations color-gray" href="{% url 'mipscode:index' %}">Início</a>
            {% endif %}

            {% if title == "ide" %}
            <a class="fs-navegations color-green" href="{% url 'mipscode:ide' %}">IDE</a>
            {% else %}
            <a class="fs-navegations color-gray" href="{% url 'mipscode:ide' %}">IDE</a>
            {% endif %}

            {% if title == "documentation" %}
            <a class="fs-navegations color-green" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
            {% else %}
            <a class="fs-navegations color-gray" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
            {% endif %}

            
            {% endif %}
        </div>

    </div>

    {% block article %}{% endblock article %}

    {% if title != "ideproject" and title != "ide" %}
    <footer class="margin-top-7">
        <div class="padding-padrao column ">
            <div class="row top margin-top-7">
                <img class="logo-white" src="{% static 'mipscode/img/logo-mips.png' %}">
                <div class="group">
                    <div class="links column">
                        <h4 class="fs-5 bold">Rotas Principais</h4>
                        <a class="fs-6 color-white ligth" href="{% url 'mipscode:tutorials' %}">Tutorial</a>
                        <a class="fs-6 color-white ligth" href="{% url 'mipscode:documentation' documentationfirst %}">Documentação</a>
                        <a class="fs-6 color-white ligth" href="{% url 'mipscode:repository' %}">Meu Repositório</a>
                    </div>

                    <div class="links column">
                        <h4 class="fs-5 bold">Sobre nós</h4>
                        <a class="fs-6 color-white ligth" href="">Quem Somos</a>
                        <a class="fs-6 color-white ligth" href="">Fale conosco</a>
                        <a class="fs-6 color-white ligth" href="">Termos de Serviços</a>
                    </div>
                </div>
                <div class="links-externs">
                    <img src="{% static 'mipscode/svgs/icon-github.svg' %}">
                    <img src="{% static 'mipscode/svgs/icon-instagram.svg' %}">
                </div>
            </div>
            <div class="fs-6 margin-top-7 bottom">© 2022 MipsCode. Todos os direitos reservados.</div>
        </div>
    </footer>
    {% endif %}
    <script src="{% static 'mipscode/js/interacoes/header.js' %}"></script>
</body>

</html>