{% extends "mipscode/header.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/ide.css' %}">
<script src="{% static 'mipscode/js/IDE/index.js' %}" defer="true" type="module"></script>
<script src="{% static 'mipscode/js/interacoes/ide.js' %}"></script>


{% endblock statics %}

{% block article %}
{% if user.is_authenticated %}
<form method="post" action="{% url 'mipscode:ide_projeto' projeto.id %}">
    {% endif %}
    <article class="article">


        <div class="form-divs">

            <div class="row height-100">

                {% csrf_token %}

                <section class="row width-100 height-100 ">

                    <div class="textarea-code color-white fs-6 width-50 row">
                        <div class="textarea-address color-white fs-6 column"></div>
                        <textarea class="textarea-code color-white fs-6 width-50 mips" id="textarea" name="content"
                            placeholder="code here...">{{projeto.content}}</textarea>
                    </div>

                    <div class="width-50 align-center column div-regs">
                        <section class="sections-regs">
                            <h3 class="fs-5">Registradores</h3>

                            <table class="table width-100">
                                <tbody class="width-100">
                                    <tr>
                                        <th>Identificação</th>
                                        <th>Nome</th>
                                        <th>Valor</th>
                                    </tr>
                                    <tr>
                                        <td>$0</td>
                                        <td>
                                            <div class="border" name="$0">$zero</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>
                                    <tr>
                                        <td>$1</td>
                                        <td>
                                            <div class="border" name="$1">$at</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$2</td>
                                        <td>
                                            <div class="border" name="$2">$v0</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$3</td>
                                        <td>
                                            <div class="border" name="$3">$v1</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$4</td>
                                        <td>
                                            <div class="border" name="$4">$a0</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$5</td>
                                        <td>
                                            <div class="border" name="$5">$a1</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$6</td>
                                        <td>
                                            <div class="border" name="$6">$a2</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$7</td>
                                        <td>
                                            <div class="border" name="$7">$a3</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$8</td>
                                        <td>
                                            <div class="border" name="$8">$t0</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$9</td>
                                        <td>
                                            <div class="border" name="$9">$t1</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$10</td>
                                        <td>
                                            <div class="border" name="$10">$t2</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$11</td>
                                        <td>
                                            <div class="border" name="$11">$t3</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$12</td>
                                        <td>
                                            <div class="border" name="$12">$t4</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$13</td>
                                        <td>
                                            <div class="border" name="$13">$t5</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$14</td>
                                        <td>
                                            <div class="border" name="$14">$t6</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$15</td>
                                        <td>
                                            <div class="border" name="$15">$t7</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$16</td>
                                        <td>
                                            <div class="border" name="$16">$s0</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$17</td>
                                        <td>
                                            <div class="border" name="$17">$s1</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$18</td>
                                        <td>
                                            <div class="border" name="$18">$s2</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$19</td>
                                        <td>
                                            <div class="border" name="$19">$s3</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$20</td>
                                        <td>
                                            <div class="border" name="$20">$s4</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$21</td>
                                        <td>
                                            <div class="border" name="$21">$s5</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$22</td>
                                        <td>
                                            <div class="border" name="$22">$t6</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$23</td>
                                        <td>
                                            <div class="border" name="$23">$t7</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$24</td>
                                        <td>
                                            <div class="border" name="$24">$t8</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$25</td>
                                        <td>
                                            <div class="border" name="$25">$t9</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$26</td>
                                        <td>
                                            <div class="border" name="$26">$k0</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$27</td>
                                        <td>
                                            <div class="border" name="$27">$k1</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$28</td>
                                        <td>
                                            <div class="border" name="$28">$gp</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$29</td>
                                        <td>
                                            <div class="border" name="$29">$sp</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$30</td>
                                        <td>
                                            <div class="border" name="$30">$fp</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>$31</td>
                                        <td>
                                            <div class="border" name="$31">$ra</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>pc</td>
                                        <td>
                                            <div class="border">pc</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>hi</td>
                                        <td>
                                            <div class="border">hi</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                    <tr>
                                        <td>lo</td>
                                        <td>
                                            <div class="border">lo</div>
                                        </td>
                                        <td class="reg-value">0</td>
                                    </tr>

                                </tbody>
                            </table>
                        </section>

                        <section class="sections-regs height-50 console margin-top-1">
                            <h3 class="fs-5">Console</h3>
                            <!--
                            CONSOLE NÃO DEVE SER UM TEXTAREA, MAS SIM UMA DIV ONDE A MEDIDA
                            QUE ELEMENTOS SÃO ADCIONADOS DENTRO, CRIE UM SCROOL PARA NÃO QUEBRAR
                            A INTERFACE, O USUÁRIO SÓ VAI ESCREVER NO CONSOLE QUANDO TIVER UM
                            SYSCALL DE ENTRADA DE DADOS, NESSE CASO EU CRIO UM INPUT E DESABILITO
                            APÓS O USUÁRIO DIGITAR ENTER PELO JAVASCRIPT
                            -->
                            <div class="width-100 height-50 textarea-console color-white console-div"></div>
                        </section>
                    </div>
                </section>
            </div>

            <div class="options-div">
                <div class="column divs-buttons-separations">
                    <div class="row">
                        <button type="button" class="button-opt button button-green color-green fs-6 bold cursor-pointer mount "><img
                                class="icon-options" src="{% static 'mipscode/svgs/icon-montar.svg' %}"><span
                                class="text-buttons-options">Montar</span></button>
                        <button type="button" class="button-opt button button-green color-green fs-6 bold cursor-pointer run"><img
                                class="icon-options" src="{% static 'mipscode/svgs/icon-run.svg' %}"><span
                                class="text-buttons-options">Executar</span></button>
                        <button type="button" class="button-opt button button-white fs-6 bold cursor-pointer step"><img
                                class="icon-options" src="{% static 'mipscode/svgs/icon-executar.svg' %}"><span
                                class="text-buttons-options">Avançar</span></button>
                        <button type="button" class="button-opt button button-white fs-6 bold cursor-pointer back"><img
                                class="icon-options" src="{% static 'mipscode/svgs/icon-voltar.svg' %}"><span
                                class="text-buttons-options">Retroceder</span></button>
                        <button type="button" class=" button-opt button button-white fs-6 bold cursor-pointer unmount"><img
                                class="icon-options" src="{% static 'mipscode/svgs/icon-desmontar.svg' %}"><span
                                class="text-buttons-options">Desmontar</span></button>

                    </div>
                    <div class="row gap-1 align-center width-100 justify-space-between padding-horizon-0">
                        <button class="button button-white fs-6 bold console-button gap-1 cursor-pointer width-50"><img
                                class="icon-options" src="{% static 'mipscode/svgs/icon-console.svg' %}"><span
                                class="text-options">Console</span></button>
                        <button
                            class="button button-green color-green fs-6 bold registers-button cursor-pointer gap-1 width-50"><img
                                class="icon-options" src="{% static 'mipscode/svgs/icon-registradores.svg' %}"><span
                                class="text-options">Registradores</span></button>
                    </div>
                </div>

                <img src="{% static 'mipscode/svgs/icon-menu-options.svg' %}">


            </div>


    </article>

    {% if user.is_authenticated %}
    <section class="nav-lateral">
        <div class="button-nav-lateral" onclick="abrirDiv()">
            <img id="icon-nav" src="{% static 'mipscode/svgs/icon-arrow.svg' %}">
        </div>
        <div class="nav-div">
            <div class="form-div">
                <div>
                    <label for="title" class="fs-5 bold">Titulo do Projeto</label>
                    <input type="text" name="title" class="input fs-5 margin-top-1 ligth" value="{{projeto.title}}">
                </div>
                <div class="margin-top-1">
                    <label for="descricao" class="fs-5 bold">Descrição</label>
                    <textarea type="text" name="description"
                        class="input fs-6 margin-top-1 ligth">{{projeto.description}}</textarea>
                    <input type="submit" value="Salvar"
                        class="button button-green width-100 margin-top-1 color-green bold fs-6">
                </div>
            </div>
        </div>
    </section>
    
</form>
{% endif %}
  
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock article %}