{% extends "mipscode/header.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/tutoriais.css' %}">
<script src="{% static 'mipscode/js/interacoes/projetos.js' %}"></script>
{% endblock statics %}

{% block article %}
<article class="padding-padrao margin-top-2">
    <h1 class="title-local">Tutoriais</h1>
    <header class="row">
        <p class="color-opaco fs-6 sitemap-inicio margin-zero">Início</p>
        <p class="color-green fs-6 bold margin-zero">Tutoriais</p>
    </header>
    <section class="column">
        {% if profile.user_profile == '3'%}
        <div class="row content-buttons margin-top-2">
            <a href="{% url 'mipscode:createtutorial' %}">
                <button class="button-green color-black background-button-green fs-6 button bold cursor-pointer">
                    <img src="{% static 'mipscode/svgs/icons-add.svg' %}">
                    <p class="p-button margin-zero">Criar novo arquivo
                    <p>
                </button>
            </a>
        </div>
        {% endif %}
        <form class="row margin-top-2 justify-space-between div-filters" action="{% url 'mipscode:searchtutorial' %}"
            method="post">
            {% csrf_token %}
            <input type="text" class="button-white button-background-opaco fs-7 button search"
                placeholder="Buscar arquivo" name="search" value="{{search}}">
        </form>

        <div class="content-projetos-all margin-top-2">

            {% for tutorial in tutorials_all %}
            <div class="project-div column button-background-opaco">
                <div>
                    <h2 class="fs-4 margin-zero">{{tutorial.title}}</h2>
                    {% if tutorial.level == '1' %}
                    <p class="fs-7 margin-zero color-opaco margin-top-2">Nível: <span class="color-green">Fácil</span>
                    </p>
                    {% elif tutorial.level == '2' %}
                    <p class="fs-7 margin-zero color-opaco margin-top-2">Nível: <span
                            class="color-yellow">Intermediário</span></p>
                    {% elif tutorial.level == '3' %}
                    <p class="fs-7 margin-zero color-opaco margin-top-2">Nível: <span class="color-red">Difícil</span>
                    </p>
                    {% endif %}
                    <p class="fs-6 margin-zero color-white margin-top-2">{{ tutorial.description }}</p>
                </div>
                <div class="margin-top-2">
                    <a href="{% url 'mipscode:opentutorial' tutorial.pk %}">
                        <button class="button-green color-green fs-6 button cursor-pointer">Ver conteúdo</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>
</article>
{% endblock article %}