{% extends "mipscode/header.html" %}
{% load static %}

{% block statics %}
<link rel="stylesheet" href="{% static 'mipscode/css/tutoriais.css' %}">
<script src="{% static 'mipscode/js/interacoes/projetos.js' %}"></script>
{% endblock statics %}

{% block article %}
<article class="padding-padrao margin-top-2">
    <h1 class="title-local">Tutoriais</h1>
    <header class="row">
        <p class="color-opaco fs-6 sitemap-inicio margin-zero">Início</p>
        <p class="color-green fs-6 bold margin-zero">Tutoriais</p>
    </header>
    <section class="column">
        <form class="row margin-top-2 justify-space-between div-filters" action="{% url 'mipscode:buscaTutorial' %}"
            method="post">
            {% csrf_token %}
            <input type="text" class="button-white button-background-opaco fs-7 button search"
                placeholder="Buscar arquivo" name="search">

            <select name="filters" class="button-white button-background-opaco fs-7 button filters" onchange="this.form.submit()">
                <option class="fs-7" class="fs-7" selected="selected" disabled>Escolha o nível</option>
                <option value="0" class="fs-7">Todos</option>
                <option value="1" class="fs-7">Fácil</option>
                <option value="2" class="fs-7">Intermediário</option>
                <option value="3" class="fs-7">Difícil</option>
            </select>
        </form>

            <div class="content-projetos-all margin-top-2">

                {% for tutorial in tutoriais %}
                <div class="project-div column button-background-opaco">
                    <div>
                        <h2 class="fs-4 margin-zero">{{tutorial.title}}</h2>
                        {% if tutorial.level == '1' %}
                        <p class="fs-7 margin-zero color-opaco margin-top-2">Nível: <span
                                class="color-green">Fácil</span></p>
                        {% elif tutorial.level == '2' %}
                        <p class="fs-7 margin-zero color-opaco margin-top-2">Nível: <span
                                class="color-yellow">Intermediário</span></p>
                        {% elif tutorial.level == '3' %}
                        <p class="fs-7 margin-zero color-opaco margin-top-2">Nível: <span
                                class="color-red">Difícil</span></p>
                        {% endif %}
                    </div>
                    <div class="margin-top-2">
                        <button class="button-green color-green fs-6 button cursor-pointer">Ver conteúdo</button>
                    </div>
                </div>
                {% endfor %}
            </div>

    </section>
</article>
{% endblock article %}